body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #343a40;
}

.container {
    margin-top: 50px;
}

#meteo {
    margin-top: 20px;
    font-size: 1.2em;
}

.card {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.card-title {
    font-size: 1.25rem;
    color: #007bff;
}

.card-text {
    font-size: 1rem;
    color: #495057;
}

#icone {
    width: 3rem;
    ;
}